<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.system.mapper.SysClazzStudentMapper">
    <select id="getAllClazzStudentCountNameList" resultType="com.youlai.system.model.bo.ClazzStudentBO">
        SELECT
            scs.clazz_id as clazzId,
            count( scs.student_id ) as studentCount,
            GROUP_CONCAT( ss.`name` )  as studentNameList
        FROM
            sys_clazz_student scs
                LEFT JOIN sys_student ss ON scs.student_id = ss.id
        WHERE
            scs.YEAR = #{year}
        GROUP BY
            scs.clazz_id
    </select>

    <select id="getStudentClazzCountNameList" resultType="com.youlai.system.model.bo.StudentClazzBO">
        SELECT
            scs.student_id as studentId,
            count( scs.clazz_id ) as clazzCount,
            GROUP_CONCAT(scs.`year` || '/' || sg.`name` || '/' || sc.`name`, <![CDATA['<br/>']]>) as clazzNameList
        FROM
            sys_clazz_student scs
                LEFT JOIN sys_clazz sc ON scs.clazz_id = sc.id
                LEFT JOIN sys_grade sg on sc.grade_id = sg.id
        where scs.student_id IN
            <foreach collection="studentIdList" item="studentId" separator="," open="(" close=")">
                #{studentId}
            </foreach>
        GROUP BY
            scs.student_id;
    </select>

    <select id="getStudentInfoListByGradeIdAndYear" resultType="com.youlai.system.model.dto.StudentInfo">
        SELECT
            scs.`year` AS `year`,
            sc.grade_id AS gradeId,
            sg.`name` AS gradeName,
            scs.clazz_id AS clazzId,
            sc.`name` AS clazzName,
            sc.clazz_type AS clazzType,
            scs.student_id AS studentId,
            ss.code AS studentCode,
            ss.`name` AS studentName,
            ss.sex AS studentSex
        FROM
            sys_clazz_student scs
                LEFT JOIN sys_clazz sc ON scs.clazz_id = sc.id
                LEFT JOIN sys_grade sg ON sc.grade_id = sg.id
                LEFT JOIN sys_student ss ON scs.student_id = ss.id
        WHERE
            sc.grade_id = #{gradeId}
          AND scs.`year` = #{year}
    </select>

    <select id="getStudentInfoListByClazzIdListAndYear" resultType="com.youlai.system.model.dto.StudentInfo">
        SELECT
            scs.`year` AS `year`,
            sc.grade_id AS gradeId,
            sg.`name` AS gradeName,
            scs.clazz_id AS clazzId,
            sc.`name` AS clazzName,
            sc.clazz_type AS clazzType,
            scs.student_id AS studentId,
            ss.code AS studentCode,
            ss.`name` AS studentName,
            ss.sex AS studentSex
        FROM
            sys_clazz_student scs
                LEFT JOIN sys_clazz sc ON scs.clazz_id = sc.id
                LEFT JOIN sys_grade sg ON sc.grade_id = sg.id
                LEFT JOIN sys_student ss ON scs.student_id = ss.id
        WHERE scs.clazz_id in
        <foreach collection="clazzIdList" item="clazzId" separator="," open="(" close=")">
            #{clazzId}
        </foreach>
        AND scs.`year` = #{year}
    </select>
</mapper>
